:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 16px/145% var(--sans);
  color: #0f172a;
  background: #f8fafc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}

button,
input,
select,
textarea {
  font: inherit;
}
