.radio-wrapper {
  margin-bottom: 10px;
}

.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-input {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.radio-text {
  font-size: 14px;
  color: #333;
}

.radio-input:disabled {
  cursor: not-allowed;
}
